:root {
  /* Colors */
  --fb-color-black-100:             #fafafa; 
  --fb-color-black-150:             #f5f5f5;
  --fb-color-black-200:             #f0f0f0;
  --fb-color-black-300:             #d2d2d2;
  --fb-color-black-400:             #b8bbbe;
  --fb-color-black-500:             #8a8d90;
  --fb-color-black-600:             #6a6e73;
  --fb-color-black-700:             #4f5255;
  --fb-color-black-800:             #3c3f42;
  --fb-color-black-850:             #212427;
  --fb-color-black-900:             #151515;
  --fb-color-black-1000:            #030303;
  --fb-color-blue-50:               #e7f1fa;
  --fb-color-blue-100:              #bee1f4;
  --fb-color-blue-200:              #73bcf7;
  --fb-color-blue-300:              #2b9af3;
  --fb-color-blue-400:              #06c   ;
  --fb-color-blue-500:              #004080;
  --fb-color-blue-600:              #002952;
  --fb-color-blue-700:              #001223;
  --fb-color-cyan-50:               #f2f9f9;
  --fb-color-cyan-100:              #a2d9d9;
  --fb-color-cyan-200:              #73c5c5;
  --fb-color-cyan-300:              #009596;
  --fb-color-cyan-400:              #005f60;
  --fb-color-cyan-500:              #003737;
  --fb-color-cyan-600:              #002323;
  --fb-color-cyan-700:              #000f0f;
  --fb-color-gold-50:               #fdf7e7;
  --fb-color-gold-100:              #f9e0a2;
  --fb-color-gold-200:              #f6d173;
  --fb-color-gold-300:              #f4c145;
  --fb-color-gold-400:              #f0ab00;
  --fb-color-gold-500:              #c58c00;
  --fb-color-gold-600:              #795600;
  --fb-color-gold-700:              #3d2c00;
  --fb-color-green-50:              #f3faf2;
  --fb-color-green-100:             #bde5b8;
  --fb-color-green-200:             #95d58e;
  --fb-color-green-300:             #6ec664;
  --fb-color-green-400:             #5ba352;
  --fb-color-green-500:             #3e8635;
  --fb-color-green-600:             #1e4f18;
  --fb-color-green-700:             #0f280d;
  --fb-color-light-blue-100:        #beedf9;
  --fb-color-light-blue-200:        #7cdbf3;
  --fb-color-light-blue-300:        #35caed;
  --fb-color-light-blue-400:        #00b9e4;
  --fb-color-light-blue-500:        #008bad;
  --fb-color-light-blue-600:        #005c73;
  --fb-color-light-blue-700:        #002d39;
  --fb-color-light-green-100:       #e4f5bc;
  --fb-color-light-green-200:       #c8eb79;
  --fb-color-light-green-300:       #ace12e;
  --fb-color-light-green-400:       #92d400;
  --fb-color-light-green-500:       #6ca100;
  --fb-color-light-green-600:       #486b00;
  --fb-color-light-green-700:       #253600;
  --fb-color-orange-100:            #f4b678;
  --fb-color-orange-200:            #ef9234;
  --fb-color-orange-300:            #ec7a08;
  --fb-color-orange-400:            #c46100;
  --fb-color-orange-500:            #8f4700;
  --fb-color-orange-600:            #773d00;
  --fb-color-orange-700:            #3b1f00;
  --fb-color-purple-50:             #f2f0fc;
  --fb-color-purple-100:            #cbc1ff;
  --fb-color-purple-200:            #b2a3ff;
  --fb-color-purple-300:            #a18fff;
  --fb-color-purple-400:            #8476d1;
  --fb-color-purple-500:            #6753ac;
  --fb-color-purple-600:            #40199a;
  --fb-color-purple-700:            #1f0066;
  --fb-color-red-50:                #faeae8;
  --fb-color-red-100:               #c9190b;
  --fb-color-red-200:               #a30000;
  --fb-color-red-300:               #7d1007;
  --fb-color-red-400:               #470000; 
  --fb-color-red-500:               #2c0000;
  --fb-color-white:                 #fff   ;
}