@import '../../component/event.cards.css';
@import './app.css';

#app {
  background-color: black;

  border-left: 2em solid blueviolet;

  max-width: 560px;
  margin: 0 auto;
}

#app > .event-cards {
  background-color: white;

  margin-bottom: 2em;
}
