@import '../../component/event.cards.css';
@import './app.css';

* {
  box-shadow: var(--fb-global--BoxShadow--inset);

  border-color: var(--fb-global--BorderColor--light-100);
}

#app {
  /* background-color: black; */
  background-color: var(--fb-global--BackgroundColor--200);

  border-left: 2em solid blueviolet;

  max-width: 560px;
  margin: 0 auto;
}

#app > .event-cards {
  margin-bottom: 2em;
}
