/* default */
.article {
  display: flex;
  flex-direction: column;

  padding: 0 2em;

  text-align: center;
}

.article > h1 {
  font-size: 3rem;
}

.article > p {
  font-size: 1.333rem;
  line-height: 1.5;
  text-indent: 2em;
  text-align: start;

  white-space: pre-line;
}

/* unexpand */
.article.unexpand { 
  flex: 0 0 60%;
  width: 60%;
}

.article.unexpand > h1 {
  font-size: 1.5rem;
}

.article.unexpand > p {
  font-size: 1rem;
  line-height: 1.5;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}