@import './carousel.css';
@import './article.css';

/* default */
.event-card {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  border: 1px solid black;
  border-radius: 1em;
}

/* unexpand */
.event-card.unexpand {
  flex-direction: row;
}